{% extends "menu.html" %}
{% block content %}

  <div class="container">

      <h2>Eilean Donan Castle</h2>
      <p class="lead">Eilean Donan Castle is dramatically situated on a small
      isle at the meeting point of three great sea lochs by some majectic
      scenery. It is one of the most visited and important attractions in the
      Scottish highlands.</p>
    <img src="{{ url_for('static', filename='img/eilean-donan-castle.jpg') }}"
    vspace="30">
  </div>
      
  <div class="container">
  <table cellpadding="16" width="35%" style="border-spacing:30px;">
    
    <tr><td width="60%"><h4>Opening Hours</h4></td>   <td width="40%">Every day</td></tr>
    <tr><td>1st Feb - 27th March:</td>         <td>10.00am - 5.00pm</td></tr>
    <tr><td>28th March - 24th Oct:</td>        <td>10.00am - 6.00pm</td></tr>
    <tr><td>25th Okt - 30th Dec:</td>          <td>10.00am - 4.00pm</td></tr>
    <tr><td><br></td>                          <td></td></tr>
    <tr><td colspan="2">Last Admission 1hour before closing</td></tr>
    <tr><td><br></td>                          <td></td></tr>
    <tr><td><br></td>                          <td></td></tr>
    
    <tr><td><h4>Admission Fee</h4></td>     <td></td></tr>
    <tr><td>Adults:</td>                       <td>GBP 7.00</td></tr>
    <tr><td>Concessions:</td>                  <td>GBP 6.00</td></tr>
    <tr><td><br></td>                          <td></td></tr>
    <tr><td><br></td>                          <td></td></tr>
   
    <tr><td><h4>Address</h4></td>              <td></td></tr>
    <tr><td>Dornie</td>                        <td></td></tr>
    <tr><td>by Kyle of Lochalsh</td>           <td></td></tr>
    <tr><td>IV40 8DX</td>                      <td></td></tr>
    <tr><td>Scotland</td>                      <td></td></tr>
    <tr><td><br></td>                          <td></td></tr>
  </table>
  </div>

  <div class="container">
  <br />
  <p>For more Information about Eilean Donan Castle visit the official
      website:<br />
      <a href="http://www.eileandonancastle.com" target=_blank">www.eileandonancastle.com</a>
  <br />
  </div>

{% endblock %}}
