{% extends "menu.html" %}
{% block content %}

  <div class="container">

      <h3>Imprint</h3>
      <p>Great Scottish Castles<br /> 
         Web-app Online Catalogue Coursework 1<br />
         SET09103 Advanced Web Technologies<br />
         Module Leader: Dr Simon Wells<br />
         <br />
         developed by Lukas Nachtmann<br />
         MatrNo: 40220839<br />
         Edinburgh Napier University</p>
        <p>All Information about the castles and the pictures are taken from
        the different websites, see References in the report.</p>   

  </div>

{% endblock %}}
