{% extends "menu.html" %}
{% block content %}

  <div class="container">

      <h2>Contact</h2>
      <p>Please give us your feedback or tell us if you have requests.</p>

      <form name="MyForm5" action=mailto:40220839@live.napier.ac.uk
      method="post">

        Feedback: <br />

        <textarea name="user_eingabe" cols="50" rows="10"></textarea><br />

        <input type="submit" value="Submit" />
        <input type="reset" value="Reset" />
      </form>
      <br />
            
      <h4>Thank you for your feedback!</h4>

     
  
  </div>

{% endblock %}}
