{% extends "menu.html" %}
{% block content %}

  <div class="container">

      <h2>Edinburgh City Tours</h2>
      <h4>A lot of different Tours are available in Edinburgh</h4>
  </div>

  <div class="container">
  
  <h3>
  <table border="3">

    <tr><td align=center width="50%">Free City Walking Tour</a></td>               
    <td><a href="http://www.newedinburghtours.com/daily-tours/new-edinburgh-free-tour.html" target="_blank">www.newedinburghtours.com </td></tr>

    <tr><td align=center width="50%">Edinburgh Guided Tour</a></td>               
    <td><a href="http://www.edinburghguidedtour.com/?gclid=Cj0KEQiAm-CyBRDx65nBhcmVtbIBEiQA7zm8lZ6nBAkSlihs6Wcz25kFcz54fjCUtY-NpBXk68YWdnQaAv1k8P8HAQ" target="_blank">www.edinburghguidedtour.com </td></tr>


    <tr><td align=center width="50%">City Sightseeing Bus Tour</a></td>               
    <td><a href="http://www.city-sightseeing.com/tours/united-kingdom/edinburgh.htm" target="_blank">www.city-sightseeing.com </td></tr>

    <tr><td align=center width="50%">Edinburgh Bus Tour</a></td>               
    <td><a href="http://edinburghtour.com/" target="_blank">www.edinburghtour.com </td></tr>
  
  </table>
  </h3>
  </br>
  <h2>Edinburgh Ghost Tours</h2>
  <h3>
  <table border="3">  

    <tr><td align=center width="50%">Free Ghost Tour</a></td>               
    <td><a href="http://freeghosttour.com/" target="_blank">www.freeghosttour.com </td></tr>

    <tr><td align=center width="50%">Auld Reekie Ghost Tours</a></td>               
    <td><a href="https://www.auldreekietours.com/" target="_blank">www.auldreekietours.com </td></tr>

    <tr><td align=center width="50%">City of the Dead Tours</a></td>               
    <td><a href="http://www.cityofthedeadtours.com/" target="_blank">www.cityofthedeadtours.com </td></tr>

    <tr><td align=center width="50%">Mercat Tours</a></td>               
    <td><a href="http://www.mercattours.com/home.asp" target="_blank">www.mercattours.com </td></tr>

    <tr><td align=center width="50%">The Ghost Bus Tours</a></td>               
    <td><a href="http://www.theghostbustours.com/edn/edinburgh.html" target="_blank">www.theghostbustours.co </td></tr>


    </table>
  </h3>
 </div>

{% endblock %}}
